fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.9.2
email-validator==2.2.0
python-multipart==0.0.20
faster-whisper==1.2.0
httpx==0.28.1
pydantic-settings==2.10.1
SQLAlchemy==2.0.38
PyMySQL==1.1.1
mysql-connector-python==9.4.0
soundfile==0.13.1
langchain==0.3.26
langgraph==0.2.60
langchain-openai==0.3.26
langchain-chroma==0.2.6
chromadb==1.0.21
sentence-transformers==3.0.1
